* {
  font-family: "CaskaydiaCove Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 1em;
}

#workspaces button {
  color: white;
  border: 1px solid white;
  padding: 0 10px;
  border-radius: 1.5em;
  margin-left: 5px;
}

#workspaces button:hover {
  background-color: white;
  color: black;
}

#workspaces button.focused {
  background-color: white;
  color: black;
}

#workspaces button.active {
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
  background-color: tomato;
  border-color: tomato;
}

#custom-icon,
#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#clock,
#custom-power {
  background-color: white;
  color: black;
  border-radius: 1.5em;
  padding: 0 15px 0 10px;
}

#custom-power {
  padding-right: 12px;
}

#pulseaudio.muted {
  background-color: tomato;
  color: black;
}

#temperature {
  padding-right: 10px;
}

#temperature.critical {
  background-color: tomato;
}

#network.disconnected {
  background-color: tomato;
}

#window,
#tray {
  border: 1px solid white;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  border-radius: 1.5em;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

.modules-left {
  margin-left: 5px;
}
.modules-right {
  margin-right: 5px;
}

.modules-center {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1.5em;
  padding: 0 10px;
}
